.container {
	position: relative
}

img {
	position: relative;
	left: 0px;
	right: 0px;
	z-index: 0;
}

.character {
	display: inline-block;
}

selection.button {
    background:;
    border: 0;
    overflow: hidden;
    text-indent: 500px;
}

<input type="button" class="button" onclick="your_function();" />