.container {
	position: relative
}

img {
	position: relative;
	left: 0px;
	right: 0px;
	z-index: 0;
}

.character {
	display: inline-block;
}

selection.button {
    background:;
    border: 0;
    overflow: hidden;
    text-indent: 500px;
}

#background {
    position: absolute;
    width: 1536px;
    align: center;
    height: 704px;
    margin-left: 192px;
    margin-top: 50px;
    background: url(Tumblr_nu715a2caK1smn4pqo3_1280.png);
    border: 2px solid silver;
}


<input type="button" class="button" onclick="your_function();" />